@media only screen and (max-width: 1230px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        transition: all 0.7s ease-out;
        flex-direction: column;
        height: 478px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .rightnav{
        text-align: center;
    }
    .section{
        flex-direction: column-reverse;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .buttons{
        text-align: center;
    }
}